<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Color Palette Generator</title>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body>
		<div class="container"></div>
		<form id="form">
			<input type="text" name="query" />
			<button id="btn">Submit</button>
		</form>

		<script src="app.js"></script>
	</body>
</html>

<!-- upgrades:
	hacerlo responsive
	agregar un H1 con el parámetro de búsqueda al limpiar el input
	adaptar el color de la letra al color del fondo para que siempre sean complementarios
-->
